@{
    Layout = "_GuestLayout";
}

<div class="container">
    <h3>Cerca una pizza</h3>
    <input id="user_search" type="text" class="js_search form-control" />
</div>

<div class="row js_no_pizza text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito nesuna pizza</h3>
    </div>
</div>
<div class="container">
    <div class="row  justify-content-center">
        <h3 class="text-center m-3">Elenco Pizze</h3>
        <div class="col-6 js_pizza_table  d-none">
            <!--card con lista pizze cliccabili per i dettagli-->
        </div>

    </div>
</div>


@*<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
*@
@section Scripts{

    <script type="text/javascript">
        document.querySelector(".js_search").addEventListener('keyup', OnUserInputEvent);
        var timeoutId = null;

        function OnUserInputEvent(e) {

            let query = e.target.value;

            if (timeoutId != null)
                clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                axios.get('/api/pizza/search', {
                    params: {
                        name: query
                    }
                }).then(response => {
                    RenderPost(response.data);
                }).catch(error => {
                    console.log(error);
                })

            }, 300);

        }

        console.log(document.querySelector(".js_search").value);
        axios.get('/api/pizza/get').then(res => {
            RenderPost(res.data);
        }).catch(error => {
            debugger;
            console.log(error);
        })
        function RenderPost(data) {

            if (data.length == 0) {
                document.querySelector('.js_no_pizza').classList.remove('d-none');
                document.querySelector('.js_pizza_table').classList.add('d-none');
            } else {
                document.querySelector('.js_pizza_table').classList.remove('d-none');
                document.querySelector('.js_no_pizza').classList.add('d-none');
                document.querySelector('.js_pizza_table').innerHTML = '';

                data.forEach(pizza => {

                    console.log('pizza', pizza);

                    document.querySelector('.js_pizza_table').innerHTML +=
                        `
                                     <a href="/Guest/Detail/${pizza.id}" class="text-decoration-none text-dark overflow-hidden">

                                    <div class="card m-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                    <div class="col-md-4">
                                            <img src="${pizza.image}" class="card-img img-fluid" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">${pizza.name}</h5>
                                            <p class="card-text">${pizza.description}</p>
                                            <p class="card-text">Categoria: ${pizza.category.name}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </a>
                        `;
                });
            }
        }

    </script>
}